---
import React from '../components/icons/React.astro'
import Html from '../components/icons/Html.astro'
import CSS from '../components/icons/CSS.astro'
import AstroIcon from './icons/AstroIcon.astro'
import Tailwind from './icons/Tailwind.astro'
import JavaScript from './icons/JavaScript.astro'
import NodeIcon from './icons/NodeIcon.astro'
import Mongo from './icons/Mongo.astro'


const tags = {
    REACT: {
        name: 'React',
        class: 'bg-white/20 text-white',
        icon: React
    },
    HTML: {
        name: 'HTML',
        class: 'bg-white/20 text-white',
        icon: Html
    },
    CSS: {
        name: 'CSS',
        class: 'bg-white/20 text-white',
        icon: CSS
    },
    JAVASCRIPT: {
        name: 'JavaScript',
        class: 'bg-white/20 text-white',
        icon: JavaScript
    },
    ASTRO: {
        name: 'Astro',
        class: 'bg-white/20 text-white',
        icon: AstroIcon
    },
    TAILWIND: {
        name: 'Tailwind',
        class: 'bg-white/20 text-white',
        icon: Tailwind
    },
    NODE: {
        name: 'Node',
        class: 'bg-white/20 text-white',
        icon: NodeIcon
    },
    MONGO: {
        name: 'Mongo',
        class: 'bg-white/20 text-white',
        icon: Mongo
    }
}

const projects = [
    {
        title: 'Portfolio',
        description: 'Este portfolio es una SPA creada con Astro, JavaScript y Tailwind. Deploy con Netlify Drop.',
        link: '#',
        github: 'https://github.com/AlinaBernardez/Portfolio-Astro',
        image: 'https://via.placeholder.com/300x200',
        tags: [tags.HTML, tags.CSS, tags.JAVASCRIPT, tags.ASTRO, tags.TAILWIND]
    },
    {
        title: 'E-commerce web',
        description: 'Proyecto full stack para una tienda online creada con React, JavaScript y Node.js. Login y autenticación con Firebase para administrador y cliente, creación/eliminación de artículos y conexión con base de datos MongoDB y Mongoose. Deploy con Railway.',
        link: '#',
        github: 'https://github.com/AlinaBernardez/backend-project-break',
        image: 'https://via.placeholder.com/300x200',
        tags: [tags.HTML, tags.CSS, tags.JAVASCRIPT, tags.REACT, tags.NODE, tags.MONGO]
    },
    {
        title: 'Dashboard',
        description: 'Proyecto front end para diseñar y crear un Dashboard de administrador con React, con diferentes funcionalidades: API de pronóstico de tiempo, reloj digital, nube de tags con Local Storage y creador de contraseñas seguras.',
        link: '#',
        github: 'https://github.com/AlinaBernardez/Dashboard',
        image: 'https://via.placeholder.com/300x200',
        tags: [tags.HTML, tags.CSS, tags.JAVASCRIPT, tags.REACT]
    }
]

---

{projects.map(({ title, description, tags, image }) => (
    <article class="pb-8">
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex gap-3 pb-5">
            {tags.map(tag => (
                <li>
                    <span class={`flex items-center gap-1 rounded-full text-xs ${tag.class} py-1 px-3`}>
                        <tag.icon class="size-4"/>
                        {tag.name}
                    </span>
                </li>
            ))}
        </ul>
        <img class="rounded shadow-2xl shadow-white/10" src={image} alt="iagen del proyecto"/>
    </article>
))}